<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=renderer content=webkit>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,user-scalable=no">
    <meta name=format-detection content="telephone=no">
    <meta name=format-detection content="email=no">
    <meta name=format-detection content="address=no;">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=default>
    <title>koa+ejs+demo <%= title %></title>
</head>

<body>

    <h1>我是头部，我来接收 公共session <%= stateSession %></h1>

    <div id="app">
        welcome <%= title %> skip
    </div>
    <ul>
        <% for(var i=0;i<list.length;i++) {%>
        <li><%-list[i]%></li>
        <%}%>
    </ul>

   



</body>

</html>